CMakeLists.txt.user
build-*
*.pro.user
.DS_Store
release.info
bin/*
logs/*
experiments/*
logs
*.log
*.orig
*.autosave
*BACKUP*
*BASE*
*LOCAL*
*.orig
*.pyc
*REMOTE*
MT.cfg
z.AugmentedLagrangian
*.txt~
external/libsvm/svm-predict
external/libsvm/svm-scale
external/libsvm/svm-train
external/libsvm/svm.o
doc/*
meta/*
~
src/.idea/
src/cmake-build-debug/
external/blockly/.idea/workspace.xml
*.bkp
